{% extends "base.html" %}
{% block content %}

<div class="affix-wrapper">
    <div>
        <h2>Edit your donkey tub: {{ escape(tub) }}</h2>
    </div>
    <div data-spy="affix" data-offset-top="72">
        <div class="preview">
            <div class="preview-centered">
                <div class="preview-wrapper">
                    <div class="preview-imu">
                        Acceleration X:
                        <div class="accel-x-bar">
                            <div class="progress negative">
                                <div id="accel-x-bar-backward" class="progress-bar progress-bar-warning pull-right"
                                     role="progressbar" style="width: 0%;">
                                </div>
                            </div>
                            <div class="progress positive">
                                <div id="accel-x-bar-forward" class="progress-bar progress-bar-info" role="progressbar"
                                     style="width: 0%;">
                                </div>
                            </div>
                        </div>
                        Acceleration Y:
                        <div class="accel-y-bar">
                            <div class="progress negative">
                                <div id="accel-y-bar-backward" class="progress-bar progress-bar-warning pull-right"
                                     role="progressbar" style="width: 0%;">
                                </div>
                            </div>
                            <div class="progress positive">
                                <div id="accel-y-bar-forward" class="progress-bar progress-bar-info" role="progressbar"
                                     style="width: 0%;">
                                </div>
                            </div>
                        </div>
                        Gyro Z:
                        <div class="gyro-z-bar">
                            <div class="progress negative">
                                <div id="gyro-z-bar-backward" class="progress-bar progress-bar-warning pull-right"
                                     role="progressbar" style="width: 0%;">
                                </div>
                            </div>
                            <div class="progress positive">
                                <div id="gyro-z-bar-forward" class="progress-bar progress-bar-info" role="progressbar"
                                     style="width: 0%;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="preview-img">
                        Steering:
                        <div class="steering-bar">
                            <div class="progress negative">
                                <div id="angle-bar-backward" class="progress-bar progress-bar-warning pull-right"
                                     role="progressbar" style="width: 0%;">
                                </div>
                            </div>
                            <div class="progress positive">
                                <div id="angle-bar-forward" class="progress-bar progress-bar-info" role="progressbar"
                                     style="width: 0%;">
                                </div>
                            </div>
                        </div>
                        Throttle:
                        <div class="throttle-bar">
                            <div class="progress">
                                <div id="throttle-bar-forward" class="progress-bar progress-bar-success" role="progressbar"
                                     style="width: 0%;">
                                </div>
                            </div>
                        </div>
                        Speed:
                        <div class="speed-bar">
                            <div class="progress">
                                <div id="speed-bar-forward" class="progress-bar progress-bar-success" role="progressbar"
                                     style="width: 0%;">
                                </div>
                            </div>
                        </div>
                        <img id="img-preview" class="train-img" src=""/>
                    </div>
                    <div class="preview-toolbar">
                        Current Frame:
                        <h3 id="cur-frame">0</h3>
                        Distance:
                        <h5 id="dist">0</h5>
                        Distance in lap:
                        <h5 id="m_in_lap">0</h5>
                        Seconds:
                        <h5 id="seconds">0</h5>
                        Lap:
                        <h5 id="lap">0</h5>
                        <select id="preview-speed" class="form-control">
                            <option value='7'>0.5x playback</option>
                            <option value='15' selected>1x playback</option>
                            <option value='30'>2x playback</option>
                            <option value='60'>4x playback</option>
                        </select>
                        <button type="button" id="play-stream" class="btn btn-primary">
                            <i class="glyphicon glyphicon-play"></i>&nbsp;Play (&#9866;)
                        </button>
                        <button type="button" id="rewind-stream" class="btn btn-primary">
                            <i class="glyphicon glyphicon-backward"></i>&nbsp;Rewind 1s (b)
                        </button>
                        <button type="button" id="fforward-stream" class="btn btn-primary">
                            <i class="glyphicon glyphicon-forward"></i>&nbsp;Fast-forward 10s (f)
                        </button>
                        <button type="button" id="split-stream" class="btn btn-primary">
                            <i class="glyphicon glyphicon-scissors"></i>&nbsp;Split (c)
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="clips-container" class="container">
    <div class="row">
        <table class="table">
            <tbody id="clips">
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="pull-right">
            <button id="submit" type="button" class="btn btn-danger">
                Save and Delete Checked Training Data!
            </button>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/tub.js"></script>
{% end %}
