@media (min-width: 1600px) {
	.container {
	    width: 1570px;
	}
}

body {
    background-color: rgb(48, 49, 51)
}

h2 {
    color: grey
}

.train-img {
    width: 480px;
	height: 360px;
}

#cur-frame {
    margin-bottom: 20px;
    padding: 5px;
}

img.clip-thumbnail {
    width: 6.25%;
}

tr.active td:first-child,
tr.active td:last-child  {
    background-color: #5bc0de !important;
}

tbody#clips td {
    vertical-align: middle;
}

.affix {
  top: 0;
  width: 100%;
}

/* https://stackoverflow.com/questions/20652581/bootstrap-affix-nav-causes-div-below-to-jump-up */
.affix-wrapper {
    min-height: 272px;
}

.affix + #clips-container {
  padding-top: 272;
}

.preview {
	width: 100%;
	background-color: rgb(48, 49, 51);
}

.preview-centered {
  width: 500px;
  margin: 0 100px;
  padding-bottom: 6px;
}

.preview-wrapper {
    display: flex;
}

.preview-imu {
    flex: 0 0 40%;
    color: grey;
}

.preview-img {
    flex: 0 0 30%;
    color: grey;
}

.preview-toolbar {
    flex: 0;
    color: grey;
    background-color: rgb(48, 49, 51);
}

.preview-toolbar button {
    margin: 5px;
    width: 160px;
}

.preview-toolbar select {
    margin: 5px;
    width: 160px;
}

tbody#clips .progress {
    height: 3px;
    margin-bottom: 10px;
}

.progress .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.steering-bar .progress {
    width: 50%;
    margin-bottom: 0px;
    border-radius: 2px;
    float: left;
}

.steering-bar .progress.negative {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: red;
}

.steering-bar .progress.positive {
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: red;
}

.accel-x-bar .progress {
    width: 50%;
    margin-bottom: 0px;
    border-radius: 2px;
    float: left;
}

.accel-x-bar .progress.negative {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: red;
}

.accel-x-bar .progress.positive {
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: red;
}

.accel-y-bar .progress {
    width: 50%;
    margin-bottom: 0px;
    border-radius: 2px;
    float: left;
}

.accel-y-bar .progress.negative {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: red;
}

.accel-y-bar .progress.positive {
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: red;
}

.gyro-z-bar .progress {
    width: 25%;
    margin-bottom: 0px;
    border-radius: 2px;
    float: left;
}

.gyro-z-bar .progress.negative {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: red;
}

.gyro-z-bar .progress.positive {
    border-left-style: solid;
    border-left-width: thin;
    border-left-color: red;
}
